<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>first</servlet-name>
  <servlet-class>web.FirstServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>second</servlet-name>
  <url-pattern>/second</url-pattern>
  </servlet-mapping>

    <servlet>
  <servlet-name>second</servlet-name>
  <servlet-class>web.SecondServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>first</servlet-name>
  <url-pattern>/first</url-pattern>
  </servlet-mapping>

   <servlet>
  <servlet-name>third</servlet-name>
  <servlet-class>web.ThirdServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>third</servlet-name>
  <url-pattern>/third</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>session1</servlet-name>
  <servlet-class>web.Session1Servlet</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>session1</servlet-name>
  <url-pattern>/session1</url-pattern>
  </servlet-mapping>

   <servlet>
  <servlet-name>session2</servlet-name>
  <servlet-class>web.Session2Servlet</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>session2</servlet-name>
  <url-pattern>/session2</url-pattern>
  </servlet-mapping>

   <servlet>
  <servlet-name>session3</servlet-name>
  <servlet-class>web.Session3Servlet</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>session3</servlet-name>
  <url-pattern>/session3</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>dispatch</servlet-name>
  <servlet-class>web.DispatchServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>dispatch</servlet-name>
  <url-pattern>/dispatch</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>useBean</servlet-name>
  <servlet-class>web.UseBeanServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>useBean</servlet-name>
  <url-pattern>/useBean</url-pattern>
  </servlet-mapping>

<servlet>
  <servlet-name>fortune</servlet-name>
  <servlet-class>web.FortuneServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>fortune</servlet-name>
  <url-pattern>/fortune</url-pattern>
  </servlet-mapping>

<servlet>
  <servlet-name>Lk</servlet-name>
  <servlet-class>web.LkServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>Lk</servlet-name>
  <url-pattern>/Lk</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>Kensaku</servlet-name>
  <servlet-class>web.KensakuServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>Kensaku</servlet-name>
  <url-pattern>/Kensaku</url-pattern>
  </servlet-mapping>

   <servlet>
  <servlet-name>Kensaku2</servlet-name>
  <servlet-class>web.KensakuServlet2</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>Kensaku2</servlet-name>
  <url-pattern>/Kensaku2</url-pattern>
  </servlet-mapping>

   <servlet>
  <servlet-name>Syousai</servlet-name>
  <servlet-class>web.SyousaiServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>Syousai</servlet-name>
  <url-pattern>/Syousai</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>Cart</servlet-name>
  <servlet-class>web.CartServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>Cart</servlet-name>
  <url-pattern>/Cart</url-pattern>
  </servlet-mapping>

<servlet>
  <servlet-name>Kounyu</servlet-name>
  <servlet-class>web.KounyuServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>Kounyu</servlet-name>
  <url-pattern>/Kounyu</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>End</servlet-name>
  <servlet-class>web.EndServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>End</servlet-name>
  <url-pattern>/End</url-pattern>
  </servlet-mapping>
</web-app>