@charset "UTF-8";

body{
	background-color: #dcdcdc;
}

h1{
	color: black;
	text-align: center;
}

.loginTable{
	margin:auto;
	width:50%;
	background-color: white;
	padding:30px;
	border:double 10px;

}

.error{
	text-align: center;
	 font-size:3;
	 font-weight:bold;
	 color:red;
}

.info{
	text-align: center;
	 font-weight:bold;
	 padding:5px;
}

.table{
}

.status{
	 font-weight:bold;
}