@charset "utf-8";

body {
	font-family: 'Yu Gothic';
	padding-top: 170px;
}

.box4 {
	width: 350px;
	margin: 0 auto;
	background: #d6ebff;
	box-shadow: 0px 0px 0px 10px #d6ebff;
	border: dashed 2px white;
}